svg {

    &.graph {
        
        &.graph-node-disabled {
            opacity: 0.2;
        }

        path {
            stroke-width: 4;
            stroke: #FFFFFF;
            stroke-linecap: round;
            fill: none;
        }

    }

}