svg {

    &.graph {
        
        & .graph-draggable {
            cursor: move;
        }

        & .graph-node {           

            &.disabled {
                opacity: 0.2;
            }

        }
    }

    & .graph-edge {       
        stroke-width: 9;
        stroke: #FF0000;
    }

}